<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>grkgzngr@nccfsbenegvfgf.pbz</string>
	<key>contactName</key>
	<string>Brenton Simpson</string>
	<key>description</key>
	<string>&lt;a href="http://www.perforce.com/perforce/"&gt;Perforce&lt;/a&gt; is a commercial source control management system.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>BE2B6161-2E23-4C08-B438-409BB1E82DA8</string>
			<string>48C3E848-57FC-4633-814E-724CE05AC124</string>
			<string>------------------------------------</string>
			<string>782E7E72-ACC3-40B3-AC04-389EFF9AA5B3</string>
			<string>70C7222E-7803-4C40-9381-25B8F09483A1</string>
			<string>------------------------------------</string>
			<string>5D487D57-14F6-4E77-BFAE-769CA3DA40EA</string>
			<string>E73FA01C-7625-11D9-B58C-000A95A89C98</string>
			<string>------------------------------------</string>
			<string>AD9B4CB8-7577-11D9-A32D-000A95A89C98</string>
			<string>9982EC7A-7577-11D9-A32D-000A95A89C98</string>
			<string>8B71655C-276C-4379-9FF4-2BCEA4D35C5D</string>
			<string>97411675-97FD-46EF-898A-73AEDA91DEED</string>
			<string>------------------------------------</string>
			<string>0D7B4536-7B90-47ED-BB1C-5A24CEEFB078</string>
			<string>------------------------------------</string>
			<string>D6F5F368-C476-4882-82EA-D11E22A445BF</string>
			<string>------------------------------------</string>
			<string>D877FFC4-1170-452B-910B-AB4F0EE743C6</string>
			<string>------------------------------------</string>
		</array>
	</dict>
	<key>name</key>
	<string>Perforce</string>
	<key>ordering</key>
	<array>
		<string>BE2B6161-2E23-4C08-B438-409BB1E82DA8</string>
		<string>48C3E848-57FC-4633-814E-724CE05AC124</string>
		<string>782E7E72-ACC3-40B3-AC04-389EFF9AA5B3</string>
		<string>70C7222E-7803-4C40-9381-25B8F09483A1</string>
		<string>5D487D57-14F6-4E77-BFAE-769CA3DA40EA</string>
		<string>E73FA01C-7625-11D9-B58C-000A95A89C98</string>
		<string>AD9B4CB8-7577-11D9-A32D-000A95A89C98</string>
		<string>9982EC7A-7577-11D9-A32D-000A95A89C98</string>
		<string>97411675-97FD-46EF-898A-73AEDA91DEED</string>
		<string>8B71655C-276C-4379-9FF4-2BCEA4D35C5D</string>
		<string>0D7B4536-7B90-47ED-BB1C-5A24CEEFB078</string>
		<string>D6F5F368-C476-4882-82EA-D11E22A445BF</string>
		<string>D877FFC4-1170-452B-910B-AB4F0EE743C6</string>
	</array>
	<key>uuid</key>
	<string>1FCD86C8-7D03-4179-88E1-B67039E8F7C3</string>
</dict>
</plist>
